body{
    background-size:cover ;
}
.heading{
    font-size: 23px;
    width: 100%;
    margin: 0px;
}
#start{
    font-size: 18px;
    
}
#status , #number_of_objects , #start{
    font-size: 18px;
}
.copy_right_footer{
    text-align: center;
width: 100%;
bottom: 0;
color: rgb(255, 255, 255);
position: fixed;
background-color: rgb(255, 89, 0);
}
canvas{
    border: 2px solid white;
    border-radius: 10px;
    margin-top: 130px;
    box-shadow: 5px 5px 5px white;
}